body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edf3ec;
  }
  
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .header {
    margin-bottom: 20px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie-card {
    margin: 10px;
    max-width: 200px;
    text-align: center;
  }
  
  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
  }

button.added {
  background-color: green; 
}

button:hover {
  background-color: rgb(115, 231, 20); 
}
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
}

.center-content ul {
  list-style-type: none;
  padding: 0;
}
/* styles.css */

.center-content {
  text-align: center;
}



.search-container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-list {
  overflow-y: auto;
  flex-grow: 1;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  height: 80vh ;
}
body.search-results {
  min-height: 90vh; /* Set height to 90vh when there are search results */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Change min-height to 100vh for full viewport height */
}

.footer {
  margin-top: auto; /* Push the footer to the bottom */
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-search {
  height: auto;
  min-height: 70vh;
}